AUTHENTICATION_BACKENDS += ['authent.backend.DatabaseBackend']


AUTHENT_DATABASE = 'authent'
AUTHENT_TABLENAME = 'utilisateurs.ma_table'

DATABASES['authent'] = {
    'ENGINE': 'django.contrib.gis.db.backends.postgis',
    'NAME': '',
    'USER': '',
    'PASSWORD': '',
    'HOST': '',
    'PORT': '',
    'OPTIONS' : {'options': '-c search_path=public,utilisateurs'}

}

#AUTHENT_DEFAULT_USER_GROUP_NAME = "test"
ZONING_CONFIG = {
    "LOCAL_SRID":  2154,
    "AREA_TYPE_LIMITED": [],
    "ADMINISTRATIVE_AREAS": ["COM", "SEC"],
    "REGULATORY_AREAS": ["ZC", "RNN", "RNR", "ZPS", "SIC", "SITE_CLASSES", "SITE_INSC", "PPN", "ZNIEFF2", "ZNIEFF1" ],
}