{% extends "mapentity/mapentity_form.html" %}
{% load i18n crispy_forms_tags %}



{% block extrabody %}
{{ block.super }}
<h1>LAAA</h1>
    <script type="text/javascript">
        $(window).ready(function () {
            // TODO: do this with crispyforms !
            $("fieldset.formset").detach().appendTo('#mainform fieldset');
            
            // $(".clearfix").removeClass("clearfix");
            
            t = $('.form-row.inline').formset({
                prefix: '{{ demande_travaux_formset.prefix }}',
                // keepFieldValues: "[name='csrfmiddlewaretoken']",
                addCssClass: 'btn btn-success add-row',
                deleteCssClass: 'delete-row',
                addText: 'Ajouter',
                deleteText: 'Supprimer', 
            });   
    
        });
    </script>
{% endblock extrabody %}