{% extends "mapentity/mapentity_form.html" %}
{% load i18n crispy_forms_tags %}

{% block mainform %}
    <form id="mainform" action="{% if object.pk %}{{ object.get_update_url }}{% else %}{{ object.get_add_url }}{% endif %}" class="form-horizontal" method="POST">

        {% crispy form %}


    </form>


{% endblock mainform %}


{% block extrabody %}
    {{ block.super }}
    <script type="text/javascript">
        $(window).ready(function () {
            // TODO: do this with crispyforms !
            $("fieldset.formset").detach().appendTo('#mainform fieldset');
            
            // $(".clearfix").removeClass("clearfix");
            
            t = $('.form-row.inline').formset({
                prefix: '{{ demande_travaux_formset.prefix }}',
                // keepFieldValues: "[name='csrfmiddlewaretoken']",
                addCssClass: 'btn btn-success add-row',
                deleteCssClass: 'delete-row',
                addText: 'Ajouter',
                deleteText: 'Supprimer', 
            });   
    
        });
    </script>
{% endblock extrabody %}